<div class="container-fluid">
    <h4>Checkpoints</h4>
    <div class="container-fluid">
        <div class="row" *ngFor="let point of points" (click)="selectPoint(point)" class="point-element list-group-item my-2">
            <div class="col-1">{{ point.id }}</div>
            <div class="col">{{ point.start }}</div>
            <div class="col">{{ point.end }}</div>
            <div class="col">{{ point.lat }}</div>
            <div class="col">{{ point.lng }}</div>
        </div>
    </div>
</div>
