<div class="container-fluid pt-15">
    <i class="fa fa-location-arrow fa-3x" aria-hidden="true" (click)="showPosition()"></i>
    <i class="fa fa-list fa-3x" aria-hidden="true" (click)="openList(content)"> LIST</i>
    <div class="form-group">
        <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput">
        <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl]="destinationOutput" >
    </div>
    <agm-map class="sebm-google-map-container"
        *ngIf="showMap" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <google-map-directions [origin]="origin" [destination]="destination"></google-map-directions>
    </agm-map>
</div>
<div class="logcontainer" id="logcontainer">{{ errorLog }}</div>
