.sebm-google-map-container, sebm-google-map {
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-control {
    width: 40%;
    height: 30px;
}

.plist {
    height: 800px;
    overflow: auto;
}

.modal-custom {

}
