.sebm-google-map-container, sebm-google-map {
    height: 600px;
    width: 100%;
}

.form-control {
    width: 40%;
    height: 30px;
}

.plist {
    height: 800px;
    overflow: auto;
}

.modal-custom {

}
