<div class="container-fluid">
    <span class="glyphicon glyphicon-record" (click)="showPosition()"></span>
    <span class="glyphicon glyphicon-align-justify" (click)="openList(content)">LIST</span>
    <div class="form-group">
        <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput">
        <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl]="destinationOutput" >
    </div>
    <agm-map class="sebm-google-map-container"
        *ngIf="showMap" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <google-map-directions [origin]="origin" [destination]="destination"></google-map-directions>
    </agm-map>
</div>
<div class="logcontainer" id="logcontainer">{{ errorLog }}</div>
